{% extends 'layouts/main.html' %}
{% load static %}
{% block title %}Submit Help Query{% endblock title %}

{% block content %}
<div class="container py-4" >
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card" style="background-color: #FBF0EF;">
                <div class="card-header">
                    <h3 class="card-title">Submit Your Query</h3>
                    <a href="{% url 'user_profile' %}" class="btn btn-sm btn-outline-secondary float-end">Back to Profile</a>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_subject" class="form-label">Subject</label>
                            {{ form.subject }}
                        </div>
                        <div class="mb-3">
                            <label for="id_message" class="form-label">Message</label>
                            {{ form.message }}
                        </div>
                        <button type="submit" class="btn text-white"  style="background-color: crimson;">Submit Query</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}